Package: com.level3tjg.redditsideloadfix
Name: RedditSideloadFix
Version: 1.0.0
Architecture: iphoneos-arm
Description: Fix Reddit when sideloaded
Maintainer: level3tjg
Author: level3tjg
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
